.status{
  margin: 30px 10px 30px 30px;
  padding: 10px;
  height: 80px;
  background-color: #eee;

  border: 1px solid #ddd;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

  .icon{
    float: left;
    margin: 15px 10px 15px 0px;
    width: 48px;
    height: 48px;
  }
  .tweet{
    .user{
      height: 20px;
      font-weight: bold;
    }
    .text{
      height: 65px;
      width: 90%;
    }
    .time{
      height: 15px;
      float: right;
    }
  }
}

.mypost{
  margin: 30px 30px 30px 10px;
  background-color: #C8EEF9;
  border: 1px solid #90D4E8;
}

.retweet{
  background-color: #B4FFE0;
  border: 1px solid #90E8C4;
}
